<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do tasks</title>
    <style>
        body{
        text-align: center;
            }
        #button{
            display: inline;
            background-color: black;
            color: white;
                }
        #textbox{
        width: 500px;

        }
    </style>
</head>
<body>
<form action="/task" method="post">
    <input type="text" name="task" placeholder="Enter your tasks" id="textbox" >
    <br>
    <br><br>
    <input type="submit" value="Add to task" id="button"></form>
<hr>
<!--<div th:each="temp:${object}">

</div>-->
</body>
</html>