<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>To-Do tasks</title>
    <style>
        body{
        text-align: center;
            }
        #button{
            background-color: red;
                }
        #textbox{
        width: 500px;

        }
        .Button{
            display: inline;
                }
    </style>
</head>
<body>
<form action="/task" method="post">
    <input type="text" name="task" placeholder="Enter your tasks" id="textbox" >
    <br>
    <br><br>
    <input type="submit" value="Add to task" class = "Button"></form>
<hr>
<table>
    <tr>
        <th>task</th>
    </tr>

    <div th:each="temp:${object}">
        <tr>
            <td th:text="${temp.task}">
            <td><form action="/delete" method="post">
            <button type=“submit” class="Button" id = "button">Delete</button>
        </form> </td>
        </tr>
    </div>
</table>
</body>
</html>