<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/add" method="post">
    <input type="text" name="task">
    <input type="submit">
</form>

<hr>
<div  th:each="temp:${task_object}">
    <form action="/delete" method="post">
        <ul th:text="${temp.task}"></ul>
        <input type="hidden" name="id" th:value="${temp.id}">
        <input type="submit" value="delete">
    </form>
</div>
</body>
</html>